body {
    font-family: 'Noto Sans', sans-serif !important;
  }

main, div#content {
    width: 100%;
}

.box {
    margin-top: 5rem;
    padding: 2rem 2rem 1rem 2rem;
    background-color: #fafafa;
    align-content: center;
    text-align: center
  }