{% extends 'base.html' %}


{% block style %}


    {% load static %}

    
{% endblock style %}
    
    

  {% block title %}Administrator{% endblock title %}


{% block content %}
<div class="container">

  <h2>
    Administrator
  </h2>

  Username: {{user.username}} <br/>
  Email: {{user.email}}

  <ul>
    
      <a href="{% url 'backend:consumptionBulkImport' %}"><li>Uvoz stanovanj</li></a>
      <a href=""><li>Uvoz porabe</li></a>
  </ul>
  <strong>
  </strong>
  
</div

    
{% endblock content %}
