{% extends 'base.html' %}


{% block style %}


    {% load static %}

    
{% endblock style %}
    
    

  {% block title %}Uporabnik{% endblock title %}


{% block content %}
<div class="container">

  <div class="row">

    {% comment %} PODATKI O UPORABNIKU {% endcomment %}
    <div class="col-xs-12 col-lg-3 box box-left">
      

      <p class="h3"><strong>Podatki o uporabniku:</strong></p>

      <strong>Ime:</strong> {{user.first_name| title}} <br/>
      <strong>E-naslov:</strong> {{user.email}} <br/>
      <strong>Številka stanovanja:</strong> {{apartment.number}}* <br/>
      <strong>Št. Objekta:</strong> {{apartment.building.id}} <br/>
      <strong>Naslov objekta:</strong> {{apartment.building.full_address}}<br/><br/>
      <small>*Številka stanovanja se lahko razlikuje od dejanske številke <br/><br/>


      <em>Za spremembo podatkov nas kontaktirajte na info@uniting-energetika.si.</em></small>
    </div>

    {% comment %} PORABA {% endcomment %}
    <div class="col-xs-12 col-md-9">
      
      {% comment %} DROPDOWNI {% endcomment %}
      <div class="row mt-4">
        <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3 mb-2 mb-md-0">
          <div class="input-group">
            <label class="input-group-text" for="cars"><strong>Sezona:</strong></label>

            <select class="form-select" name="season" id="season" onChange="window.location.href=this.value">
          
              {% for comb in season_month_dict  %}
            
              <option value="/uporabnik?season={{comb.season}}" 
              {% if season == comb.season%}selected{% endif %}
              >{{comb.season}}</option>
              
              
              {% endfor %}
          
              {% comment %} <option value="/uporabnik?season=2023/2024" {% if month == "2023/2024" %}selected{% endif %}>
                2023/2024
              </option> {% endcomment %}
            </select>


          </div>  
        </div>

 


        <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3">
          <div class="input-group">
          <label class="input-group-text" for="seasons"><strong>Mesec:</strong></label>

          <select class="form-select" name="month" id="month" onChange="window.location.href=this.value">
        
          {% for comb in season_month_dict %}
          
          
            <option value="/uporabnik?month={{comb.month}}" 
            {% if month == comb.month %}selected{% endif %}
            >
            
          {{comb.month}}
          </option>
          
            
          
          {% endfor %}
        
          
          
          
        
          </select>

          </div>
        </div>
      </div>

      {% comment %} MOBILE TABLE {% endcomment %}

      {% if consumption_apartment %}
        <table class="consumption-table table table-hover d-lg-none">
          <thead>

            <tr class="">
              <th></th>
              <th>Stanovanje</th>
              <th>Objekt</th>
              
              
              
              
            </tr>
          </thead>

          <tbody class="table-group-divider">

            <tr>
              <th>Ogrevana površina <br/> [m2]</th> 
              <td>{{ consumption_apartment.ogr_povrs}}</td>
              <td>{{ consumption_building.ogr_povrs}}</td>
            </tr>

            <tr>
              <th>Delež ogrevane površine <br/> [%] </th>
              <td>{{ consumption_apartment.del_ogr_pov}}</td>
              <td>{{ consumption_building.del_ogr_pov}}</td>
            </tr>

            <tr>
              <th>Poraba <br> [enote]</th>
              <td>{{ consumption_apartment.poraba}}</td>
              <td>{{ consumption_building.poraba}}</td>
            </tr>


            <tr>
              <th>Korekcijski faktor <br/> [/]</th>
              <td>{{ consumption_apartment.kor_fakt }} </td>
              <td>{{ consumption_building.kor_fakt |default_if_none:"/" }}</td>

            </tr>


            <tr>
              <th>Osnovni PD 13. člen <br/> [%]</th>

              <td>{{ consumption_apartment.osn_pd_13_clen}}</td>
              <td>{{ consumption_building.osn_pd_13_clen}}</td>

            </tr>
              
            
            <tr>
              <th>Korigirani PD 15.(1.)člen <br/> [%]</th>
              <td>{{ consumption_apartment.korig_pd_15_1_clen}}</td>
              <td>{{ consumption_building.korig_pd_15_1_clen}}</td>
            </tr>

            <tr>
              <th>Korigirani PD na površino 15.(4.)člen <br/> [%]</th>
              <td>{{ consumption_apartment.korig_pd_povrs_15_4_clen}}</td>
              <td>{{ consumption_building.korig_pd_povrs_15_4_clen}}</td>
            </tr>

            <tr>
              <th>Pod 40% / nad 300% 18. člen <br/> [%]</th>
              <td>{{ consumption_apartment.pod_40_nad_300_18_clen}}</td>
              <td>{{ consumption_building.pod_40_nad_300_18_clen}}</td>

            
            </tr>
            
            <tr>
              <th>Preračunani PD na 100% 19.člen <br/> [%]</th>
              <td>{{ consumption_apartment.prer_pd_100_19_clen}}</td>
              <td>{{ consumption_building.prer_pd_100_19_clen}}<td>
            </tr>

            <tr>
              <th>Variabilni delež <br/> [%]</th>
              <td>{{ consumption_apartment.var_del}}</td>
              <td>{{ consumption_building.var_del}}</td>
            </tr>

            <tr>
              <th>Fiksni delež <br/> [%]</th>
              <td>{{ consumption_apartment.fiks_del}}</td>
              <td>{{ consumption_building.fiks_del}}</td>
            </tr>
              
            <tr>
              <th>Skupni delež / poraba <br/> [%]</th>
              <td>{{ consumption_apartment.skp_del_poraba}}</td>
              <td>{{ consumption_building.skp_del_poraba}}</td>              
            </tr>
          </tbody>

          
        </table>
      {% else %}
        
        <p>Za izbrano sezono in mesec in vnešene porabe za ogrevanje</p>

      {% endif %}

      {% comment %} Desktop TABLE {% endcomment %}
  
      {% if consumption_apartment %}
        <table class="consumption-table table table-hover d-none d-lg-block">
          <thead>

            <tr class="">
              <th></th>
              <th scope="col">Ogrevana površina <br/> [m2]</th>
              <th>Delež ogrevane površine <br/> [%] </th>
              <th>Poraba <br> [enote]</th>
              <th>Korekcijski faktor <br/> [/]</th>
              <th>Osnovni PD 13. člen <br/> [%]</th>
              <th>Korigirani PD 15.(1.)člen <br/> [%]</th>
              <th>Korigirani PD na površino 15.(4.)člen <br/> [%]</th>
              <th>Pod 40% / nad 300% 18. člen <br/> [%]</th>
              <th>Preračunani PD na 100% 19.člen <br/> [%]</th>
              <th>Variabilni delež <br/> [%]</th>
              <th>Fiksni delež <br/> [%]</th>
              <th>Skupni delež / poraba <br/> [%]</th>
            </tr>
          </thead>

          <tbody class="table-group-divider">

            <tr>

              <td>Stanovanje</td>

              <td>{{ consumption_apartment.ogr_povrs}}</td>
              <td>{{ consumption_apartment.del_ogr_pov}}</td>
              <td>{{ consumption_apartment.poraba}}</td>
              <td>{{ consumption_apartment.kor_fakt }} </td>
              <td>{{ consumption_apartment.osn_pd_13_clen}}</td>
              <td>{{ consumption_apartment.korig_pd_15_1_clen}}</td>
              <td>{{ consumption_apartment.korig_pd_povrs_15_4_clen}}</td>
              <td>{{ consumption_apartment.pod_40_nad_300_18_clen}}</td>
              <td>{{ consumption_apartment.prer_pd_100_19_clen}}</td>
              <td>{{ consumption_apartment.var_del}}</td>
              <td>{{ consumption_apartment.fiks_del}}</td>
              <td>{{ consumption_apartment.skp_del_poraba}}</td>
              
            </tr>
          </tbody>

          <tr>

            <td>Objekt</td>
            <td>{{ consumption_building.ogr_povrs}}</td>
            <td>{{ consumption_building.del_ogr_pov}}</td>
            <td>{{ consumption_building.poraba}}</td>
            <td>{{ consumption_building.kor_fakt |default_if_none:"/" }}</td>
            <td>{{ consumption_building.osn_pd_13_clen}}</td>
            <td>{{ consumption_building.korig_pd_15_1_clen}}</td>
            <td>{{ consumption_building.korig_pd_povrs_15_4_clen}}</td>
            <td>{{ consumption_building.pod_40_nad_300_18_clen}}</td>
            <td>{{ consumption_building.prer_pd_100_19_clen}}</td>
            <td>{{ consumption_building.var_del}}</td>
            <td>{{ consumption_building.fiks_del}}</td>
            <td>{{ consumption_building.skp_del_poraba}}</td>
            
          </tr>
          
        </table>
      {% else %}
        
        <p>Za izbrano sezono in mesec in vnešene porabe za ogrevanje</p>

      {% endif %}
  

    {% comment %} MEASURMENTS {% endcomment %}

    {% if measurments %}
    
    <table class="table table-hover consumption-table">
      <thead>
        <th></th>
        <th>Številka delilnika</th>
        <th>Začetno stanje enot</th>
        <th>Končno stanje enot</th>
        <th>Korekcijski faktor radiatorja</th>
        <th>Porabljene enote</th>
      </thead>
      <tbody class="table-group-divider">
        {% for m in measurments  %}
          <tr>
            <td>{{m.space}}</td>
            <td>{{m.device_number}}</td>
            <td>{{m.initial_state}}</td>
            <td>{{m.final_state}}</td>
            <td>{{m.corr_factor}}</td>
            <td>{{m.used_units}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}

    </div>
  </div>



</div>

    
{% endblock content %}
