{% extends 'base_admin.html' %}

  
  
{% block title %}Uvoz stanovanj / uporabnikov{% endblock title %}


{% block admin_content %}



    <div class="row justify-content-center">

      <div class="col-8 py-5 my-5 box shadow">

        <form enctype="multipart/form-data" action="{% url 'backend:usersBulkImport' %}" method="post" >
          {% csrf_token %}
        
          {{ form }}
        
          <button class="w-100 btn btn-lg btn-primary mt-3 load-btn" type="submit" value="Submit">Naloži</button>
        </form>
        
        {% for message in messages %}

          {% if message.tags == "success" %}

          <div class="alert alert-success mt-2">
                    <a class="close" href="#" data-dismiss="alert">×</a>
                      Operacija uspešna: <br/>{{ message }} {{message.leve}}
          </div>

          {% else %}
            <div class="alert alert-danger mt-2">
                  <a class="close" href="#" data-dismiss="alert">×</a>
                    Nalaganje ni bilo uspešno. Razlog: <br/>
                    {{ message }} {{message.level}}
            </div>
          {% endif %}

        {% endfor %}
      </div>
    </div>
    
{% endblock admin_content %} 
