{% extends "base.html" %}

{% block content %}

  {% comment %} {% load crispy_forms_tags %}   {% endcomment %}
  
  <!--Password Reset Confirm-->
    <div class="container p-5">
	    <h2 class="font-weight-bold mt-3">Potrdite novo geslo</h2>
		<hr>
        <p>Prosimo Vas, da vnesete novo geslo.</p>
        <form method="POST">
            {% csrf_token %}
            {% comment %} {{ form|crispy }}                     {% endcomment %}
            {{ form }}                    
            <button class="btn btn-primary" type="submit">Ponastavi geslo</button>
        </form>
    </div>

{% endblock %}