{% extends 'base.html' %}


{% block content %}

	<!--Password reset sent-->
	<div class="container p-5">
  	<h2 class="font-weight-bold mt-3">Poslali smo Vam navodila</h2>
		<hr>
		<p>Na e-naslov smo Vam poslali navodila za ponastavitev geslo, v kolikor obstaja račun z vnešenim e-naslovom. Morali bi ga prejeti v kratkem. 
			
		<br/> <br/> Če e-pošte ne prejmete se prosimo prepričajte, da ste vnesli e-naslov, ki pripada vašemu stanovanju in preverite predalnik z neželeno pošto.</p>
  </div>

{% endblock %}