{% extends 'base.html' %}


{% block content %}

	{% comment %} {% load crispy_forms_tags %}           {% endcomment %}

	<!--Reset Password-->
	<div class="container p-5">
  	 	<h2 class="font-weight-bold mt-3">Ponastavitev gesla</h2>
		<hr>
		<p>Ste pozabili geslo? Spodaj vnesite svoj e-naslov, mi pa Vam bomo poslali navodila za ponastavitev.</p>
        <form method="POST">
            {% csrf_token %}
            {% comment %} {{ password_reset_form|crispy }}                     {% endcomment %}
            {{ password_reset_form }}                    
            <button class="btn btn-primary" type="submit">Pridobi navodila</button>
        </form>
  	</div> 

{% endblock %}